@font-face {
	font-family: 'FRANK';
	src: url('../fonts/FRABK.eot');
	src: local('☺'), url('../fonts/FRABK.woff') format('woff'), url('../fonts/FRABK.ttf') format('truetype'), url('../fonts/FRABK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* .loader { 
    background: none repeat scroll 0 0 #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
  }
  .loader .loader_inner {
    background-image: url("../img/Preloader_1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
*/

.header{
    height: 60px;
    background: #344051;
    width: 100%;
    display: flex;
    position: fixed;
    font-family: 'FRANK';
    z-index: 10;
}
.header__name{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;
    font-family: 'FRANK';
}

.header__menu{
    display: flex;
    justify-content: space-between;
    
    
}
.header__menu-item{
    -webkit-animation: topshift .4s ease forwards;
    -o-animation: topshift .4s ease forwards;
    animation: topshift .4s ease forwards;
    opacity: 0;
}
.header__menu-item:nth-child(2){
    animation-delay: .4s;
}
.header__menu-item:nth-child(3){
    animation-delay: .8s;
}
.header__menu-item:nth-child(4){
    animation-delay: 1.2s;
}
.header__menu-item:nth-child(5){
    animation-delay: 1.6s;
}
.header__menu-item:nth-child(6){
    animation-delay: 2s;
}

.header__menu-link{
    color: #fff;
    font-size: 14px;
    line-height: 60px;
    
    transform: scale(1);
    transition: all .1s;
    display: inline-block;
    font-family: 'FRANK';
}
.header__menu-link:visited{
    color: #fff;
}
.header__menu-link:hover{
    color: #d17700;
    
}
.header__menu-link:active{
    transform: scale(1.1);
}
.iam{
    background: url(../img/фон1.png);
}
.iam__items{
    display: flex;
    
    
}
.title__container{
    width: 100%;
}
.iam__item-title{
    padding-top: 425px;
    text-align: center;
    font-size: 60px;
    color: #2c384a;
    font-weight: bold;
    font-family: 'FRANK';
}
.iam__item-subtitle{
    font-size: 16px;
    
    margin-top: 40px;
    margin-bottom: 55px;
    color: #79818d;
    text-align: center;
    font-family: 'FRANK';
}
.iam__item-button{
    text-align: center;
    
    
}
.iam__item-btn{
    margin-left: 40px;
    height: 40px;
    text-align: center;
    background: none;
    outline: none;
    color: #79818d;
    border: 2px solid #79818d;
    border-radius: 5px;
    padding: 0 20px;
    transition: all .2s;
    display: inline-block;
    transform: scale(1);
    font-family: 'FRANK';
}
.iam__item-btn:hover{
    background: #344051;
    color: #fff;
}
.iam__item-btn:active{
    transform: scale(1.1);
}

/* .iam__item-img{
    margin-left: 150px;
}
*/
.aboutme{
    padding-top: 100px;
    background: #fff;
    padding-bottom: 100px;
}
.aboutme__title{
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 34px;
    font-family: 'FRANK';
    color: #2c384a;

    margin-bottom: 95px;
}
.aboutme__title::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 70px;
    background: rgb(220, 115, 46);
    bottom: -30px;
    
    margin: 0 -120px;
}

.aboutme__img{
    
    margin-bottom: 35px;
}
.aboutme__text{
    text-align: center;
    font-size: 18px;
    margin-bottom: 45px;
    
    font-family: 'FRANK';
    max-width: 755px;
    width: 100%;
}
.aboutme__download{
    display: flex;
    
    max-width: 180px;
    width: 100%;
    

    border: 2px solid #79818d;
    border-radius: 5px;
    transform: scale(1);
    
}
.aboutme__download:hover{
    transform: scale(1.1);
    transition: 1s;
}
.aboutme__btn-icon{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.aboutme__btn-text{
    color: #79818d;
    font-size: 17px;
    text-align: center;
    margin-right: 15px;
    margin: 10px 0;
    font-family: 'FRANK';
}


.ido{
    background: url('../img/фон.png');
    padding-bottom: 95px;
    padding-top: 100px;
}
.ido__title{
    
    text-align: center;
    position: relative;
    font-size: 34px;
    font-family: 'FRANK';
    color: #2c384a;

    font-weight: bold;

    margin-bottom: 90px;
}
.ido__title::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 70px;
    background: rgb(220, 115, 46);
    bottom: -30px;
    
    
    margin: 0 -150px;
}
.ido__items{
    display: flex;
    
    
}
.ido__item{
    max-width: 215px;
    width: 100%;
    
}
.ido__icon{
    margin-left: 75px;
    margin-bottom: 25px;
}
.ido__item-title{
    text-align: center;
    color: rgb(220, 115, 46);
    font-size: 19px;
    margin-bottom: 20px;
}
.ido__item-text{
    text-align: center;
    font-size: 17px;
    color: #2c384a;
    font-family: 'FRANK';
}

.cases{
    padding-top: 100px;
    background: #fff;
    padding-bottom: 100px;
}
.cases__title{
    text-align: center;
    position: relative;
    font-size: 34px;
    font-family: 'FRANK';
    color: #2c384a;

    font-weight: bold;

    margin-bottom: 75px;
}
.cases__title::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 70px;
    background: rgb(220, 115, 46);
    bottom: -30px;
    
    
    margin: 0 -100px;
}
.cases__text{
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: 'FRANK';
    color: #2c384a;

    font-weight: bold;

    margin-bottom: 45px;
}
.cases__items{
    display: flex;
}


.cases__item-title{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #2c384a
}
.cases__item-client{
    font-size: 17px;
    margin-bottom: 10px;
    color: #2c384a
}
.cases__item-website{
    font-size: 17px;
    color: #2c384a
}
.cases__item-title-project{
    font-size: 25px;
    margin-bottom: 10px;
    color: #2c384a
}
.cases__item-text{
    max-width: 860px;
    width: 100%;

    font-size: 21px;
    font-family: 'FRANK';
    color: #2c384a
}
.cases__btn{
    font-size: 25px;
    color: #fff;

    background: rgb(22, 212, 162);
    border-radius: 5px;
    padding: 10px 35px;

    margin-top: 25px;
}
.cases__btn:hover{
    background: #fff;
    color: rgb(22, 212, 162);
    transition: .3s;
    transform: scale(1);
}
.cases__btn:active{
    transform: scale(1.3);
    transition: 1s;
}
.price{
    padding-top: 100px;
    
    margin-bottom: 100px;
}
.price__item{
    position: relative;
}
.price__item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    max-width: 890px;
    width: 100%;
    background: rgb(162, 155, 155);
    height: 2px;
}
.price__title{
    
    margin-bottom: 55px;
    font-size: 34px;
    font-family: 'FRANK';
    color: #2c384a;

    font-weight: bold;
}
.price__title-input{
    font-size: 29px;

    margin-bottom: 20px;
}
.price__list{
    max-width: 890px;
    width: 100%;
    height: 55px;

    margin-bottom: 45px;
}
.price__result{
    margin-top: 25px;
}
.price__result-inner{
    display: flex;
    max-width: 890px;
    width: 100%;
    justify-content: space-between;
}
.price__result-item{
    font-size: 21px;
    color: #2c384a;
    margin-bottom: 20px;
    font-family: 'FRANK';
}


.statistic{
    background: url('../img/фон.png');
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    
    background-attachment: fixed;
    position: relative;
}
.parallax__img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.statistic__title{
   
    font-size: 34px;
    font-family: 'FRANK';
    color: #2c384a;

    font-weight: bold;
    position: relative;

    margin-bottom: 100px;
}
.statistic__title::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 70px;
    background: rgb(220, 115, 46);
    bottom: -30px;
    
    
    margin: 0 -250px;
}
.statistic__cards{
    
    
    display: flex;  
}
.statistic__card{
    

    max-width: 215px;
    width: 100%;
}
.statistic__card-img{
    margin-left: 80px;
}
.statistic__card-title{
    font-size: 20px;
    color: #2c384a;
    text-align: center;
    font-weight: bold;
    margin: 25px 0;
    font-family: 'FRANK';
}
.statistic__card-text{
    font-size: 20px;
    color: #2c384a;
    text-align: center;
}


.reviews{
    padding-top: 100px;
    background: #fff;
    padding-bottom: 100px;
}
.reviews__title{
    
    font-size: 34px;
    font-family: 'FRANK';
    color: #2c384a;

    font-weight: bold;
    position: relative;

    margin-bottom: 100px;
}
.reviews__title::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 70px;
    background: rgb(220, 115, 46);
    bottom: -30px;
    
    
    margin: 0 -120px;
}
.reviews__img{
  
    margin-bottom: 40px;
}
.reviews__text{
    text-align: center;
    font-size: 17px;
   

    max-width: 715px;
    width: 100%;

    margin-bottom: 40px;
}
.reviews__name{
    text-align: center;
    font-size: 17px;
    
    font-family: 'FRANK';
    margin-bottom: 50px;
}
/* Здесь пагинация */


.contact{
    background: url('../img/contact.png');
    padding-top: 100px;

    padding-bottom: 21px;
}
.contact__title{
    text-align: center;
    font-size: 34px;

    color: #fff;

    font-weight: bold;
    position: relative;

    margin-bottom: 70px;
}
.contact__title::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 70px;
    background: rgb(220, 115, 46);
    bottom: -30px;
    
    
    margin: 0 -190px;
}
.contact__text{
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-family: 'FRANK';
    margin-bottom: 40px;
}
.contact__cards{
    display: flex;
    

    max-width: 685px;
    width: 100%;

    margin-bottom: 40px;
}
.contact__card{
    max-width: 130px;
    width: 100%;

    
}
.contact__card-img{
    margin-bottom: 20px;

    margin-left: 50px;
}
.contact__card-link{
    display: block;
    color: #fff;
    font-size: 17px;
    font-family: 'FRANK';
}
.contact__card-text{
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.contact__title-two{
    font-size: 21px;
    color: #fff;
    
    font-family: 'FRANK';
    margin-bottom: 45px;
}

.form{
    margin: 0 auto;
    max-width: 735px;
    width: 100%;
}
.contact__name{
    margin-bottom: 20px;
    height: 35px;
    
    background: rgb(216, 209, 209);

    
}
.contact__email{
    height: 35px;
    

    background: rgb(216, 209, 209);
}
.contact__text-two{
    display: block;
    
    height: 100px;

    background: rgb(216, 209, 209);

    margin-bottom: 25px;
}
.contact__btn{
    margin: 0 auto;
    display: block;

    margin-bottom: 25px;
    border: 2px solid #fff;
    border-radius: 5px;

    background: transparent;

    color: #fff;
    padding: 19px 13px;
    font-family: 'FRANK';
    font-size: 21px;
}
.contact__btn:hover{
    color: rgb(220, 115, 46);
    background: #fff;
    transition: .2s;
}
.contact__btn:active{
    transform: scale(1.1);
    transition: .5s;
}
.contact__icons{
    max-width: 420px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}
.contact__icon{
    transform: scale(1);
}
@media (min-width: 767px){
    .contact__icon{
        width: 5%;
        height: 5%;
    }
}
.contact__icon:hover{
    transform: scale(1.3);
    transition: 1s;
}
.map{
    width: 100%;
    position: relative;
}
.map__item{
    width: 100%;
    
}
.map__btn{
    position: absolute;
    left: 50%;
    bottom: 50%;
    font-family: 'FRANK';
    font-size: 17px;
    background: #fff;
    padding: 18px 30px;
    color: #000;
    
}
.map__btn:hover{
    transform: rotate(360deg);
    transition: 1s;
}
.map__btn:active{
    transform: scale(1.1);
    transition: .5s;
}
.footer{
    height: 100px;
    background: #344051;
}
.footer__item{
    text-align: center;
    padding-top: 50px;
    font-size: 13px;
    color: #fff;
    font-family: 'FRANK';
}


@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}
@media (max-width: 991px){
    .iam__item-title{
        color: #fff;
        position: relative;
        z-index: 3;
    }
    .iam__item-subtitle{
        color: #fff;
        position: relative;
        z-index: 3;
    }
    .iam__item-btn{
        color: #fff;
        position: relative;
        z-index: 3;
        border: 2px solid #fff;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}